/********************************* BASIC STYLE **********************************/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

hr.solid {
    border-top: 8px solid rgb(43, 43, 43);
}


/********************************* NAVBAR STYLE **********************************/

#primary-logo {
    transition: margin 4s;
    background-color: #F8F9FA;
    text-align: center;
}

#primary-logo img {
    transition: width 2s, margin 4s;
}

nav {
    box-shadow: 0px 10px 10px -10px rgb(29, 29, 29);
}

#navbar-logo {
    display: none;
}

#navbar-logo-img {
    transition: width 1s;
}

#header {
    background-color: #f1f1f1;
    /* Grey background */
    padding: 50px 10px;
    /* Some padding */
    color: black;
    text-align: center;
    /* Centered text */
    font-size: 90px;
    /* Big font size */
    font-weight: bold;
    position: fixed;
    /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%;
    /* Full width */
    transition: 0.2s;
    /* Add a transition effect (when scrolling - and font size is decreased) */
}


/* MODAL BUTTON */

#modal-navbar {
    background-color: transparent;
    border: none;
}

#submit-contact {
    margin-left: auto;
    margin-right: auto;
}

#ubicacion-titulo {
    margin-left: auto;
    color: rgb(68, 53, 53);
}

#ubicacion-content {
    background-color: transparent;
    border: none;
}

#contacto-titulo {
    margin-left: auto;
}

.modal-header {
    border-bottom: none;
}


/********************************* HERO STYLE **********************************/

#hero-text {
    color: rgb(255, 255, 255);
    text-shadow: 0.3em 0.2em 0.2em black;
}

.carousel-inner img {
    object-fit: cover;
    height: 90vh;
}


/********************************* PHRASE STYLE **********************************/

#frase-bmmb {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}


/********************************* CARD DECK STYLE **********************************/

#card-deck {
    padding: 20px 0px;
    background-color: rgb(34, 34, 34);
}

#card-deck h1 {
    margin-bottom: 30px;
    color: rgb(235, 235, 233);
    text-align: center;
}

.card-deck {
    margin: 0 0px;
    justify-content: space-between;
}

.card {
    border: none;
    height: 300px;
}

.card img {
    height: 100%;
    width: auto;
    object-fit: cover;
    transition: opacity 1s;
}

.card-deck .card {
    margin: 0 0 1rem;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover img {
    opacity: 0.8;
    box-shadow: 0px 0px 2px 3px #cacaca;
}

.card:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgb(32, 32, 32);
    color: rgb(221, 221, 221);
    font-size: 20px;
    box-shadow: 0px 0px 20px black;
    padding: 16px 32px;
    font: bold;
}


/********************************* VIDEO STYLE **********************************/

#video-inicio {
    background-color: #ffffff;
}

.grid2col {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    padding: 80px 0px;
}

.col2 h3 {
    margin-top: 90px;
}


/********************************* RESUMEN CONTACTO STYLE ***************************/

#resumen-contacto {
    text-align: center;
}

.grid3col {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.col3 {
    padding-top: 70px;
    font-size: 20px;
}


/********************************* FOOTER STYLE **********************************/

footer {
    background-color: #333333;
    height: auto;
    margin-top: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.col {
    margin: 0px auto;
    margin-top: 2rem;
}

.col h3 {
    margin-bottom: 28px;
}

#politicaPrivacidad {
    margin-top: auto;
    margin-right: 1rem;
    margin-bottom: auto;
    margin-left: auto;
}

#flip {
    height: 40px;
    overflow: hidden;
}

#flip p {
    padding-top: 3px;
}

#flip>div>div {
    color: #fff;
    padding: 2px 12px;
    height: 50px;
    margin-bottom: 43px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 20s linear infinite;
}

#flip div div {
    background: #42c58a;
}

#flip div:first-child div {
    background: #4ec7f3;
}

#flip div:last-child div {
    background: #DC143C;
}

@keyframes show {
    0% {
        margin-top: -270px;
    }
    5% {
        margin-top: -180px;
    }
    33% {
        margin-top: -180px;
    }
    38% {
        margin-top: -90px;
    }
    66% {
        margin-top: -90px;
    }
    71% {
        margin-top: 0px;
    }
    99.99% {
        margin-top: 0px;
    }
    100% {
        margin-top: -270px;
    }
}

#volteado.p {
    position: fixed;
    width: 100%;
    bottom: 30px;
    font-size: 12px;
    color: #999;
    margin-top: 200px;
}


/********************************* MEDIA QUERY **********************************/

@media only screen and (max-width: 991px) {
    #navbar-logo {
        display: block;
    }
    #primary-logo img {
        width: 0%;
    }
    #primary-logo {
        margin-top: -25px;
    }
    .col2 h3 {
        margin-top: 0;
        margin-bottom: 26px;
    }
    .grid2col {
        grid-template-columns: 100%;
        padding: 20px 0px;
    }
    .grid3col {
        grid-template-columns: 100%;
    }
    .col3 {
        padding-top: 10px;
    }
    #navbarSupportedContent {
        text-align: center;
    }
    footer {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    #hero img {
        object-fit: cover;
        height: 500px;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .card-deck .card {
        -ms-flex: 0 0 48.7%;
        flex: 0 0 48.7%;
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
    }
}