/********************************* BASIC STYLE **********************************/

* {
    margin: 0;
    padding: 0;
}


/********************************* NAVBAR STYLE **********************************/

#primary-logo {
    transition: margin 4s;
    background-color: #F8F9FA;
    text-align: center;
}

#primary-logo img {
    transition: width 2s, margin 4s;
}

nav {
    box-shadow: 0px 10px 10px -10px rgb(29, 29, 29);
}

#navbar-logo {
    display: none;
}


/* MODAL BUTTON */

#myBtn {
    background-color: rgba(0, 0, 255, 0);
    border: none;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/********************************* HERO STYLE **********************************/

#hero-text {
    color: rgba(255, 255, 255, 0.712);
}


/********************************* PHRASE STYLE **********************************/

#frase-bmmb {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}


/********************************* CARD DECK STYLE **********************************/

#card-deck {
    padding: 20px 0px;
    background-color: rgb(34, 34, 34);
}

#card-deck h1 {
    margin-bottom: 30px;
    color: rgb(235, 235, 233);
    text-align: center;
}

.card-deck {
    margin: 0 0px;
    justify-content: space-between;
}

.card {
    border: none;
    height: 300px;
}

.card img {
    height: 100%;
    width: auto;
    object-fit: cover;
    transition: opacity 1s;
}

.card-deck .card {
    margin: 0 0 1rem;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover img {
    opacity: 0.8;
    box-shadow: 0px 0px 2px 3px #cacaca;
}

.card:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgb(32, 32, 32);
    color: rgb(221, 221, 221);
    font-size: 20px;
    box-shadow: 0px 0px 20px black;
    padding: 16px 32px;
    font: bold;
}


/********************************* VIDEO STYLE **********************************/

#video-inicio {
    background-color: #ffffff;
}

.grid2col {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    padding: 80px 0px;
}

.col2 h3 {
    margin-top: 90px;
}


/********************************* TEEEST STYLE **********************************/

#flip {
    height: 50px;
    overflow: hidden;
}

#flip>div>div {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #42c58a;
}

#flip div:first-child div {
    background: #4ec7f3;
}

#flip div:last-child div {
    background: #DC143C;
}

@keyframes show {
    0% {
        margin-top: -270px;
    }
    5% {
        margin-top: -180px;
    }
    33% {
        margin-top: -180px;
    }
    38% {
        margin-top: -90px;
    }
    66% {
        margin-top: -90px;
    }
    71% {
        margin-top: 0px;
    }
    99.99% {
        margin-top: 0px;
    }
    100% {
        margin-top: -270px;
    }
}

#volteado.p {
    position: fixed;
    width: 100%;
    bottom: 30px;
    font-size: 12px;
    color: #999;
    margin-top: 200px;
}


/********************************* MEDIA QUERY **********************************/

@media only screen and (max-width: 991px) {
    #navbar-logo {
        display: block;
    }
    #primary-logo img {
        width: 0%;
    }
    #primary-logo {
        margin-top: -15px;
    }
    .col2 h3 {
        margin-top: 0;
        margin-bottom: 26px;
    }
    .grid2col {
        grid-template-columns: 100%;
        padding: 20px 0px;
    }
}

@media only screen and (max-width: 767px) {
    #hero img {
        object-fit: cover;
        height: 500px;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .card-deck .card {
        -ms-flex: 0 0 48.7%;
        flex: 0 0 48.7%;
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
    }
}