body {
    width: 100%;
}

.parallax {
    /* The image used */
    background-image: url("../imagenes/historia/primeros-integrantes.png");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.caption span.border {
    background-color: rgba(54, 54, 54, 0.61);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

@media only screen and (max-width: 991px) {
    .caption {
        top: 30%;
    }
}